 <div class="education-container container-block">
<h2 class="container-block-title">Education</h2>
<div class="item">
    <h4 class="degree">Trainee "Fachinformatiker Systemintegration"</h4>
    <h5 class="meta">Robert-Bosch-Berufskolleg Dortmund</h5>
    <div class="time">2015 - 2017</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">Abitur (A-Level)</h4>
    <h5 class="meta">Städtisches Gymnasium Bergkamen</h5>
    <div class="time">2006 - 2014</div>
</div><!--//item-->
</div><!--//education-container-->
