<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">SysAdmin</h3>
                            <div class="time">2017 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">Realcore Consulting GmbH, Dortmund, Germany</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Integrating workflow for CI/CD Pipelines with Docker, expand Monitoringsystem</p>
                        <p>E2E Testing of GUI Apps with Spectron + WebdriverIO </p>
                        <p>2nd + 3rd Level Support </p>
                    </div><!--//details-->
                </div><!--//item-->



                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Trainee</h3>
                            <div class="time">2015 - 2017</div>
                        </div><!--//upper-row-->
                        <div class="company">smartcircles mHealth AG, Dortmund, Germany</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Managing DevOps infrastructure on about 10 Hosts, reorganised infrastructure to be container based (microservice ready)</p>
                        <p>Learning Docker, Ansible, Bash and nearly all Linux/GNU core-utils and create my own secure by Design Backupsystem </p>
                    </div><!--//details-->
                </div><!--//item-->

            </section><!--//section-->
