<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="intro">
                    <p>Side projects:</p>
                </div><!--//intro-->
                <div class="item">
                    <span class="project-title"><a href="#hook">CertManager</a></span> - <span class="project-tagline">Helper Tool for Managing Docker Remote API Certification on Multiple Hosts</span>

                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">IssueMapper</a></span> -
                    <span class="project-tagline">Maps Gitlab Issues to Ticket in Zammad Ticketsystem </span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">AnsibleBackup</a></span> - <span class="project-tagline">Complete Linux Backup Solution that is Auditable and microservice ready uses Open-Source Technologies combined by Ansible Logic</span>
                </div><!--//item-->
            </section><!--//section-->
